﻿@using System.Linq.Expressions
@model WebMVC.Areas.Admin.Models.Publisher.PublisherUpdateViewModel

@{
    ViewBag.Title = "Edit publisher";
    Layout = "_Layout";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <h4>Edit a publisher</h4>
        <hr/>
        <div class="row justify-content-center">
            <div class="col-md-6">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="display: flex; justify-content: center; margin-top: 10px;">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </div>
}